QWidget {
    background-color: lightblue;
}

QWidget QPushButton {
    font-family: serif;
    color: rgb(35, 30, 195);
    padding-top: 5px; padding-bottom: 5px;
    width: 370px;
    background-color: rgb(145, 193, 255);
    border-color: rgb(78, 38, 188);
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
}

QWidget QLabel {
    font-family: Arial, serif;
    font-size: 100px;
    color: rgb(35, 30, 195);
}

QTable {
    color: black;
}

QAbstractTableModel {
    color: black;
}

QTableWidget {
    color: black;
    font-weight: normal;
}

QTableWidgetItem {
    color: black;
}

QComboBox {
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
    font-weight: bold;
    border-width: 4px;
    border-radius: 5px;
    border-color: rgb(78, 38, 188);
    background-color: rgb(162, 208, 208);
    width: 40px;
}
