QWidget {
    background-color: lightblue;
}

QWidget QPushButton {
    font-family: serif;
    color: rgb(35, 30, 195);
    padding: 5px 10px;
    width: 370px;
    background-color: rgb(145, 193, 255);
    border-color:rgb(78, 38, 188);
    border-width:10px;
    border-style: outset;
    border-radius: 10px;
}

QWidget QPushButton:pressed {
    font-family: serif;
    background-color: rgb(172, 218, 218);
    color: rgb(40, 198, 193);
    padding: 5px 20px;
    width: 370px;
    border-color:rgb(42, 95, 165);
    border-width:10px;
    border-style: outset;
    border-radius: 10px;
}

QWidget QLabel {
    font-family: Arial;
    font-size: 100px;
    color: rgb(35, 30, 195);

}



QComboBox QAbstractItemView {
    color: black;
    width: 40px;
}

